@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Trang Khách Hàng";
}

<div class="container mt-5 text-center">
    <h1 class="display-4 mb-4">Chào mừng đến với trang Khách Hàng</h1>
    <p class="lead">Ở đây bạn có thể xem danh sách món ăn và tìm kiếm món ăn yêu thích.</p>

    <hr class="my-5">

    <p class="fs-5">Hãy sử dụng menu bên trái để truy cập các chức năng.</p>

    @* <img src="~/images/user_dashboard.png" alt="Trang User" class="img-fluid mt-4 rounded shadow-sm" style="max-width:600px;"> *@
</div>
