@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model QuanLyNhaHangAdmin.Models.LoaiMonAn

<h2>Chi tiết loại món ăn</h2>

<table class="table table-bordered">
    <tr>
        <th>Mã loại</th>
        <td>@Model.MaLoai</td>
    </tr>
    <tr>
        <th>Tên loại</th>
        <td>@Model.TenLoai</td>
    </tr>
    <tr>
        <th>Mô tả</th>
        <td>@Model.MoTa</td>
    </tr>
</table>

<a asp-action="DanhSachLoaiMonAn" class="btn btn-secondary">Quay lại</a>

