@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "QR Generator";
}

<h2>Tạo mã QR cho bàn</h2>

<form asp-action="GenerateQR" method="post">
    <label>Số bàn:</label>
    <input type="number" name="SoBan" class="form-control" required min="1" />

    <button class="btn btn-primary mt-2">Tạo QR</button>
</form>

<hr />

@if (ViewBag.QRImg != null)
{
    <h3>QR cho bàn @ViewBag.SoBan</h3>

    <img src="@ViewBag.QRImg" style="width:250px" />

    <p class="mt-2"><strong>Link đích:</strong> @ViewBag.Url</p>

    <a class="btn btn-success" href="@ViewBag.QRImg" download="QR_Ban_@ViewBag.SoBan.png">
        Tải QR về
    </a>
}
